/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"); */

/* @font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
} */

.um-cuidado-a-mais {
  display: flex;
  text-align: left;
  width: 80%;
  margin: auto;
}

.um-cuidado-a-mais-container {
  font-weight: 800;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
  /* justify-content: center; */
  /* justify-content: space-between; */
  margin: auto;
}

.um-cuidado-a-mais-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.um-cuidado-a-mais h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.18rem;
  text-transform: uppercase;
  color: #343f48;
  margin-bottom: 0.75rem;
  letter-spacing: 0.405em;
  margin-top: 2.1rem;
}

.um-cuidado-a-mais h2 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800 !important;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  color: #343f48;
  margin-right: 2rem;
}

.um-cuidado-a-mais p {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.4rem;
  color: #000;
  font-weight: 400 !important;
  margin: 0;
}

.um-cuidado-a-mais-revitalizacao,
.um-cuidado-a-mais-espuma {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19.8rem;
}

.um-cuidado-a-mais-revitalizacao p,
.um-cuidado-a-mais-espuma p {
  padding: 0.75rem;
  text-decoration: underline;
  font-weight: 700 !important;
  color: #343f48;
}

.um-cuidado-a-mais-revitalizacao p,
.um-cuidado-a-mais-espuma p {
  color: #fff;
}

.um-cuidado-a-mais-revitalizacao-espuma {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  gap: 2rem;
  justify-content: center;
}

.um-cuidado-a-mais-revitalizacao {
  background-image: url(./assets/IRIS_PRODUCT_916.jpg);
  background-repeat: no-repeat;
  height: 32rem;
}

.um-cuidado-a-mais-espuma {
  background-image: url(./assets/FOREO_DAY7_10595_34.jpg);
  background-repeat: no-repeat;
  height: 32rem;
}

.um-cuidado-a-mais-revitalizacao-espuma .p-bold-white {
  align-items: flex-end;
  text-decoration: none;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.um-cuidado-a-mais-revitalizacao-espuma .p-bold-white-quebra {
  width: 9.75rem;
}

.um-cuidado-a-mais-revitalizacao a,
.um-cuidado-a-mais-espuma a {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700 !important;
}

/* .um-cuidado-a-mais-revitalizacao-espuma li p,
.um-cuidado-a-mais-revitalizacao-espuma li a {
  display: flex;
  color: #fff;
  font-size: 0.93rem;
  justify-content: space-between;
  background-color: red;
} */
